<div style="padding-left: 75px; padding-right: 75px" ng-controller="MainController">
  <h1 id="title">References</h1>
  
  <div>
    <button class="btn btn-success btn-xs" name="bibtexGenerator" ng-click="generateBibtex()">Generate Bibtex</button>
  </div>

  <div><p>Add reference <input type="checkbox" ng-model="checkedAdd" ng-init="checkedAdd=false"></p></div>

  <!--Listing references-->
  <div class="col-md-6" id="referencesContainer" >
  <ul>
    
    <li ng-repeat="reference in references track by reference._id">
      
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title row">
            <input class="col-md-1" style="position:relative; right:50px" type="checkbox" ng-model="reference.checked">
              <h3 class="panel-title" style="position:relative; right:50px">
                <a href="#/{{reference._id}}">
                  Title: {{reference.title}}, Type: {{reference.type}}</a>
              </h3>
              
            </div>
          </div>
          <div class="panel-body">
            Author: {{reference.author}}
          </div>
        </div>
        
    

      
    

    </li> 


  </ul>
  </div>


  <div class="col-md-6" ng-if="checkedAdd" id="formContainer">
      <!--Select reference type-->
      <div>
          <p>
          What type of reference do you want to add?:
          </p>
          <div>
          <select class="form-control" ng-model="newReference.type" ng-init="newReference.type = 'article'">
              <option value="article" ng-selected="true">Article</option>
              <option value="book">Book</option>
              <option value="inproceeding">Inproceeding</option>
         </select>
         </div>
       </div>


      <!--Forms for different reference types-->
      <div ng-if="newReference.type != null">
        <h2 name="addType">Add new {{newReference.type}} reference:</h2>
        <p>Fields marked with '*' are required!</p> 
      </div>

      <div ng-if="newReference.type == 'article'">
          <form name="articleForm" novalidate>
            <div class="form-group">
              <label>Author*</label>
              <input type="text" class="form-control" name="authorA" ng-model="newReference.author" required>
            </div>
            <div class="form-group">
              <label>Title*</label>
              <input type="text" class="form-control" name="titleA" ng-model="newReference.title" required>
            </div>
            <div class="form-group">
              <label>Journal*</label>
              <input type="text" class="form-control" name="journalA" ng-model="newReference.journal" required>
            </div>
            <div class="form-group">
              <label>Volume</label>
              <input type="text" class="form-control" name="volumeA" ng-model="newReference.volume">
            </div>
            <div class="form-group">
              <label>Number</label>
              <input type="text" class="form-control" name="numberA" ng-model="newReference.number">
            </div>
            <div class="form-group">
              <label>Year*</label>
              <input type="text" class="form-control" name="yearA" ng-model="newReference.year" required>
            </div>
            <div class="form-group">
              <label>Pages</label>
              <input type="text" class="form-control" name="pagesA" ng-model="newReference.pages">
            </div>
            <div class="form-group">
              <label>Publisher</label>
              <input type="text" class="form-control" name="publisherA" ng-model="newReference.publisher">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" name="addressA" ng-model="newReference.address">
            </div>

            <button id="addReference" class="btn btn-success" ng-disabled="articleForm.$invalid" ng-click="addReference()">Add</button>
          </form>
      </div>

      <div ng-if="newReference.type == 'book'">
          <form name="bookForm" novalidate>
            <div class="form-group">
              <label>Author*</label>
              <input type="text" class="form-control" name="authorB" ng-model="newReference.author" ng-required="!newReference.editor">
            </div>
            <div class="form-group">
              <label>Editor*</label>
              <input type="text" class="form-control" name="editorB" ng-model="newReference.editor" ng-required="!newReference.author">
            </div>
            <div class="form-group">
              <label>Title*</label>
              <input type="text" class="form-control" name="titleB" ng-model="newReference.title" required>
            </div>
            <div class="form-group">
              <label>Publisher*</label>
              <input type="text" class="form-control" name="publisherB" ng-model="newReference.publisher" required>
            </div>
            <div class="form-group">
              <label>Year*</label>
              <input type="text" class="form-control" name="yearB" ng-model="newReference.year" required>
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" name="addressB" ng-model="newReference.address">
            </div>

            <button id="addBook" class="btn btn-success" ng-disabled="bookForm.$invalid" ng-click="addReference()">Add</button>
          </form>
      </div>

      <div ng-if="newReference.type == 'inproceeding'">
          <form name="inproceedingForm" novalidate>
            <div class="form-group">
              <label>Author*</label>
              <input type="text" class="form-control" name="authorI" ng-model="newReference.author" required>
            </div>
            <div class="form-group">
              <label>Title*</label>
              <input type="text" class="form-control" name="titleI" ng-model="newReference.title" required>
            </div>
            <div class="form-group">
              <label>Book title*</label>
              <input type="text" class="form-control" name="bookTitleI" ng-model="newReference.booktitle" required>
            </div>
            <div class="form-group">
              <label>Year*</label>
              <input type="text" class="form-control" name="yearI" ng-model="newReference.year" required>
            </div>
            <div class="form-group">
              <label>Pages</label>
              <input type="text" class="form-control" name="pagesI" ng-model="newReference.pages">
            </div>
            <div class="form-group">
              <label>Publisher</label>
              <input type="text" class="form-control" name="publisherI" ng-model="newReference.publisher">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" name="addressI" ng-model="newReference.address">
            </div>

            <button id="addInproceeding" class="btn btn-success" ng-disabled="inproceedingForm.$invalid" ng-click="addReference()">Add</button>
          </form>
      </div>

    </div>
  
  
  
    
    


    <!--This container has filtering functionality-->
    <!--<div class="container" >
        <div class="row">
            <div class="col-md-2">
                Search
                <input type="text" ng-model="filter">
            </div>
            <div class="col-md-2">
                Ordering
                <select class="form-control"  ng-model="ordering">
                    <option value="name" selected>Nimi</option>
                    <option value="year">Vuosi</option>
                    <option value="director">Ohjaaja</option>
               </select>
            </div>
            <div class="col-md-2">
                Suunta
                <select class="form-control" ng-model="direction">
                    <option value="true">Laskeva</option>
                    <option value="" selected>Nouseva</option>
                </select>
            </div>
            <div class="col-md-2">
                Koko
                <select class="form-control" ng-model="size" ng-init="size=25">
                    <option value="5" >5</option>
                    <option value="10">10</option>
                    <option value="25" selected>25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="1000">no limit</option>
                </select>
            </div>
            <div class="col-xs-12" style="height:20px;"></div>
        </div>
    </div>-->
    
    
</div>

