
<div class="page-header" ng-controller="ReferenceController">

    <div class="page-header">
      <h1>"{{reference.title}}", type:{{reference.type}}</h1>
    </div>
    <div class="btn-toolbar"></div>
        
    <!--Reference info. Only fields that belong to the type of the reference are shown (ng-if)-->
    <form name="referenceForm" novalidate>
          <div class="form-group" >
            <label>Author*</label>
            <input type="text" class="form-control" name="author" ng-model="reference.author" placeholder="reference.author" ng-required="!reference.editor">
          </div>
          <div class="form-group" >
            <label>Editor*</label>
            <input type="text" class="form-control" name="editor" ng-model="reference.editor" placeholder="reference.editor" ng-required="!reference.author">
          </div>
          <div class="form-group">
            <label>Title*</label>
            <input type="text" class="form-control" name="title" ng-model="reference.title" placeholder="reference.title" required>
          </div>
          <div class="form-group" ng-if="reference.type=='article'">
            <label>Journal</label>
            <input type="text" class="form-control" name="journal" ng-model="reference.journal" placeholder="reference.journal">
          </div>
          <div class="form-group" ng-if="reference.type=='inproceeding'">
            <label>Book title</label>
            <input type="text" class="form-control" name="bookTitle" ng-model="reference.booktitle" placeholder="reference.booktitle">
          </div>
          <div class="form-group" ng-if="reference.type=='inproceeding' || reference.type=='article' ">
            <label>Pages</label>
            <input type="text" class="form-control" name="pages" ng-model="reference.pages" placeholder="reference.pages">
          </div>
          <div class="form-group" ng-if="reference.type=='article' ">
            <label>Volume</label>
            <input type="text" class="form-control" name="volume" ng-model="reference.volume" placeholder="reference.volume">
          </div>
          <div class="form-group" ng-if="reference.type=='article' ">
            <label>Number</label>
            <input type="text" class="form-control" name="number" ng-model="reference.number" placeholder="reference.number">
          </div>
          <div class="form-group">
            <label>Year</label>
            <input type="text" class="form-control" name="year" ng-model="reference.year" placeholder="reference.year">
          </div>
          <div class="form-group">
            <label>Publisher</label>
            <input type="text" class="form-control" name="publisher" ng-model="reference.publisher" placeholder="reference.publisher">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" ng-model="reference.address" placeholder="reference.address">
          </div>
          <button id="updateReference" class="btn btn-success" ng-disabled="referenceForm.$invalid" ng-click="updateReference()">Update</button>
        </form>

        <button id="deleteReference" class="btn-danger" ng-click="deleteReference()">Delete</button>
</div>